:root {
	--red: #ed254e;
	--text-white: #f1f1f1;
	--primary-background: #011936;
	--secondary-background: #465362;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src:
		url('../fonts/RobotoMono-VariableFont_wght.ttf') format('truetype'),
		url('../fonts/RobotoMono-Italic-VariableFont_wght.ttf'),
		url('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: var(--primary-background);
}

a:link,
a:visited {
	color: var(--text-white);
	text-decoration: none;
	cursor: pointer;
}

a:link:active,
a:visited:active {
	color: var(--text-white);
}

header {
	background-color: var(--secondary-background);
}

.header {
	display: flex;
	align-items: center;
	margin: auto;
	width: 80%;
	padding: 30px 0;
	flex-direction: row;
	color: var(--red);
	justify-content: space-between;
}

.main_container {
	margin: 30px auto;
	width: 80%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.container {
	border: 1px solid var(--red);
	border-radius: 3px;
	padding: 15px;
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	width: 45%;
	flex-direction: column;
	background-color: var(--secondary-background);
}

.container img {
	object-fit: contain;
	width: 100%;
}

.container h3 {
	font-size: 1.8rem;
	text-align: center;
}

.container p {
	line-height: 1.5rem;
}

.container strong {
	color: var(--red);
}

.white {
	color: var(--text-white);
}

.button {
	background-color: var(--primary-background);
	border-radius: 10px;
	border: solid 3px var(--red);
	color: var(--text-white);
	cursor: pointer;
	font-family: 'Roboto';
	padding: 15px;
	transition: all 0.5s;

	padding: 16px;
	border-radius: 4px;

	text-align: center;
}

.button {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button:after {
	content: '»';
	position: absolute;
	opacity: 0;
	top: 14px;
	right: -20px;
	transition: 0.5s;
}

.button:hover {
	padding-right: 24px;
	padding-left: 8px;
	box-shadow: 0 10px 20px -8px rgba(255, 255, 255, 0.4);
}

.button:hover:after {
	opacity: 1;
	right: 10px;
}
.navigation_list {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0;
	list-style: none;
}

.navigation_list li {
	margin-right: 10px;
}

.title {
	color: var(--red);
	font-family: 'Roboto';
}

footer {
	background-color: var(--secondary-background);
}

.footer_info {
	width: 80%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #f1f1f1;
}

.footer_contact {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 15px 0;
}

.footer_info ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	color: #f1f1f1;
	gap: 15px;
}

.footer_info li {
	display: flex;
	align-items: center;
	gap: 15px;
}

@media only screen and (max-width: 600px) {
	nav {
		display: none;
		padding-bottom: 30px;
	}

	.main_container {
		margin: 30px auto;
		width: 80%;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.container {
		border: 1px solid var(--red);
		border-radius: 3px;
		padding: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
		width: 100%;
		flex-direction: column;
		background-color: var(--secondary-background);
	}

	.container img {
		object-fit: contain;
		width: 100%;
	}
}
