:root {
	--red: #ed254e;
	--text-white: #f1f1f1;
	--primary-background: #011936;
	--secondary-background: #465362;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src:
		url('../fonts/RobotoMono-VariableFont_wght.ttf') format('truetype'),
		url('../fonts/RobotoMono-Italic-VariableFont_wght.ttf'),
		url('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: var(--primary-background);
}

a:link,
a:visited {
	color: var(--text-white);
	text-decoration: none;
	cursor: pointer;
}

a:link:active,
a:visited:active {
	color: var(--text-white);
}

header {
	background-color: var(--secondary-background);
}

.header {
	display: flex;
	align-items: center;
	margin: auto;
	width: 80%;
	padding: 30px 0;
	flex-direction: row;
	color: var(--red);
	justify-content: space-between;
}

.main_container {
	margin: 30px auto;
	width: 80%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.container {
	border: 1px solid var(--red);
	border-radius: 3px;
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	width: 45%;
	flex-direction: column;
	background-color: var(--secondary-background);
}

.container_filho {
	margin-bottom: 30px;
	color: var(--text-white);
}

.button {
	padding: 15px;
	border-radius: 10px;
	border: solid 3px var(--red);
	background-color: var(--primary-background);
	color: (var(--text-white));
	font-family: 'Roboto';
}

.navigation_list {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0;
	list-style: none;
}

.navigation_list li {
	margin-right: 10px;
}

.container img {
	object-fit: contain;
	width: 300px;
	height: 300px;
}

.container h3 {
	text-align: center;
}

.title {
	color: var(--red);
	font-family: 'Roboto';
}

footer {
	background-color: var(--secondary-background);
}

.footer_info {
	width: 80%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #f1f1f1;
	/* gap: 30px; */
}

.footer_contact {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 15px 0;
}

.footer_info ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	color: #f1f1f1;
	gap: 15px;
}

.footer_info li {
	display: flex;
	align-items: center;
	gap: 15px;
}
